body{
    background-color: azure;
    text-align: center;
    color: white;
    font-size: 60px;
}

.quad{
    width: 200px;
    height: 200px;
    line-height: 200px;
    text-shadow: 5px 5px 10px black;
}


#quad1{
    background-color: red;
    
}


#quad2{
    background-color: yellow;
    
}

#quad3{
    background-color: green;
    
}


#grid{
    background-color: blue;
    height: 900px;
    display: grid;
    grid-template-rows: 200px 500px 100px;
    grid-template-columns: 30% 65%;
    grid-template: 1fr 1fr / 1fr 2fr 1fr;
    grid-gap: 10px;
    justify-items: center;
    align-items: end;
    
   
}


#grid2{
    display: grid;
    background-color: burlywood;
    grid-template-rows: 20px 500px 100px;
    grid-template-columns: auto 70%;
    grid-gap: 10px;
    grid-template-areas: 
    "Cabeçalho Cabeçalho"
    "Menu lateral principal"
    "Rodapé Rodapé";

    
}

#cabecalho{
    background-color: red;
    grid-area: Cabeçalho;
}

#rodape{
    background-color: purple;
    grid-area: Rodapé;
}

#menu-lateral{
    background-color: greenyellow;
    grid-area: Menu-lateral;
}

#principal{
    background-color: blue;
    grid-area: principal;
}