body{
    background-color: azure;
    text-align: center;
}


.icones{
    color: red;
    font-size: 120px;
}

.icones:hover{
    color: wheat;
    background-color: rgb(0, 60, 255);
    padding: 2px;
    cursor: pointer;
}

.top{
    font-size: 50px;
    color: green;
    padding: 2px;
}

.top:hover{
    color: white;
    background-color: yellow;
    font-size: 90px;
    padding: 2px;
    cursor: pointer;
}